---

- name: install zsh
  become: yes
  package:
    name: zsh
    state: present
  when: ansible_facts["distribution"] == "Ubuntu" or ansible_facts["os_family"] == "RedHat"

- name: set default shell to zsh
  become: yes
  user:
    name: "{{ local_user }}"
    shell: /usr/bin/zsh
  when: ansible_facts["os_family"] != "Darwin"

- name: disable gross vim defaults
  copy:
    dest: /etc/vimrc
    content: ""
  become: yes
  when: ansible_facts["os_family"] == "RedHat"

- name: disable stupid ls colors
  copy:
    dest: /etc/profile.d/colorls.sh
    content: ""
  become: yes
  when: ansible_facts["os_family"] == "RedHat"

- name: Increase default user watches limit
  become: yes
  lineinfile:
    line: "fs.inotify.max_user_watches=524288"
    dest: /etc/sysctl.conf
  when: ansible_facts["os_family"] != "Darwin"

- name: Create directory for third-party software sources
  file:
    path: "{{ third_party_src }}"
    state: directory

- name: Create local bin directory
  file:
    path: "{{ home }}/bin"
    state: directory

- name: Install C toolchain
  become: yes
  dnf:
    name: "@C Development Tools and Libraries"
    state: present
  when: ansible_facts["distribution"] == "Fedora"

- name: Install C toolchain
  become: yes
  apt:
    name: build-essential
    state: present
  when: ansible_facts["distribution"] == "Ubuntu"


- name: Install some development tools and libraries
  become: yes
  dnf:
    name:
      - ImageMagick
      - ImageMagick-devel
      - autoconf
      - automake
      - git
      - inotify-tools
      - jq
      - libffi-devel
      - libtool
      - libxslt-devel
      - libyaml-devel
      - ncurses-devel
      - nmap
      - openssl-devel
      - optipng
      - pwgen
      - readline-devel
      - ruby-devel
      - sqlite-devel
      - tmux
      - unixODBC-devel
      - vim
      - whois
      - wxBase3
      - wxGTK3-devel
    state: present
  when: ansible_facts["os_family"] == "RedHat"

- name: Install some development tools and libraries
  become: yes
  dnf:
    name:
      - ShellCheck
      - entr
      - the_silver_searcher
    state: present
  when: ansible_facts["distribution"] == "Fedora"

- name: Install some development tools and libraries
  become: yes
  apt:
    name:
      - autoconf
      - automake
      - curl
      - entr
      - ethtool
      - git
      - git-doc
      - imagemagick
      - inotify-tools
      - jq
      - libffi-dev
      - libgl1-mesa-dev
      - libglu1-mesa-dev
      - libmagickwand-dev
      - libncurses5-dev
      - libpng-dev
      - libreadline-dev
      - libsqlite3-dev
      - libssl-dev
      - libtool
      - libwxgtk3.0-gtk3-dev
      - libxslt-dev
      - libyaml-dev
      - nmap
      - optipng
      - pwgen
      - ruby-dev
      - shellcheck
      - silversearcher-ag
      - sqlite3
      - tmux
      - unixodbc-dev
      - vim
      - whois
    state: present
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install some development tools and libraries
  homebrew:
    name:
      - autoconf
      - curl
      - entr
      - findutils
      - git
      - gnupg
      - htop
      - imagemagick
      - jq
      - nmap
      - optipng
      - pwgen
      - reattach-to-user-namespace
      - shellcheck
      - sqlite
      - the_silver_searcher
      - tmux
      - vim
      - wget
      - wxmac
    state: present
  when: ansible_facts["os_family"] == "Darwin"

- name: Install system visibility tools
  become: yes
  dnf:
    name:
      - htop
      - perf
      - strace
    state: present
  when: ansible_facts["os_family"] == "RedHat"

- name: Install system visibility tools
  become: yes
  apt:
    name:
      - dstat
      - htop
      - linux-tools-generic
      - strace
    state: present
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install gawk
  become: yes
  apt:
    name: gawk
    state: present
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Ensure we're using gawk
  become: yes
  alternatives:
    name: awk
    path: /usr/bin/gawk
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install neovim
  become: yes
  package:
    name: neovim
    state: present
  when: ansible_facts["os_family"] != "Darwin"

- name: Install neovim
  homebrew:
    name: neovim
    state: present
  when: ansible_facts["os_family"] == "Darwin"

- import_tasks: postgresql_redhat.yml
  when: ansible_facts["os_family"] == "RedHat"
- import_tasks: postgresql_ubuntu.yml
  when: ansible_facts["distribution"] == "Ubuntu"
- import_tasks: postgresql_macos.yml
  when: ansible_facts["os_family"] == "Darwin"

- import_tasks: redis.yml
- import_tasks: fzy.yml
- import_tasks: asdf.yml
- import_tasks: python.yml
- import_tasks: java.yml
- import_tasks: redhat.yml
- import_tasks: azure.yml
- import_tasks: fd.yml
- import_tasks: dotfiles.yml
