---

- name: Install Python and some libs
  dnf:
    name:
      - python3
      - python3-devel
      - python3-pygments
      - python3-pip
  become: yes
  when: ansible_facts["os_family"] == "RedHat"

- name: Install Python and some libs
  apt:
    name:
      - python3
      - python3-dev
      - python3-pygments
      - python3-pip
  become: yes
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install some Python CLI tools
  pip:
    name:
      - httpstat
      - pynvim
    state: present
  become: yes
