[gnumdk-lollypop]
name=Copr repo for lollypop owned by gnumdk
baseurl=https://copr-be.cloud.fedoraproject.org/results/gnumdk/lollypop/fedora-$releasever-$basearch/
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/gnumdk/lollypop/pubkey.gpg
enabled=1
enabled_metadata=1
