[connection]
id=BlackieOps YYJ-1
uuid=51e74322-f148-4e3e-8bc3-db695057172b
type=vpn
permissions=
secondaries=

[vpn]
service-type=org.freedesktop.NetworkManager.openvpn
ta-dir=1
connection-type=password
auth=SHA512
password-flags=1
remote=edge.yyj-1.phy.blackieops.net:1194:udp
cipher=AES-256-CBC
username=alex
dev=tun
ca={{home}}/.vpns/blackieops-yyj-1/edge-udp-1194-ca.crt
ta={{home}}/.vpns/blackieops-yyj-1/edge-udp-1194-tls.key

[ipv4]
dns-search=
method=auto
never-default=true

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
