---

- name: Install Docker
  apt:
    name: docker.io
    state: present
  become: yes
  when: ansible_facts["os_family"] == "Debian"
  tags:
  - packages
  - docker

- name: Install Docker
  homebrew_cask:
    name: docker
    state: present
  when: ansible_facts["os_family"] == "Darwin"
  tags:
  - packages
  - docker

- name: Ensure presence of docker group
  group:
    name: docker
    state: present
  become: yes
  when: ansible_facts["os_family"] == "Debian"
  tags:
  - docker

- name: Add local user to docker group
  user:
    name: "{{ local_user }}"
    groups: docker
    append: yes
  become: yes
  when: ansible_facts["os_family"] == "Debian"
  tags:
  - docker

- name: Enable and start docker
  service:
    name: docker
    enabled: yes
    state: started
  become: yes
  when: ansible_facts["os_family"] == "Debian"
  tags:
  - services
  - docker

- name: Install podman
  dnf:
    name:
      - podman
      - podman-docker
    state: present
  become: yes
  when: ansible_facts["os_family"] == "RedHat"
  tags:
  - packages
  - docker
